.login-box {
  max-width: 450px;
  margin-right: auto;
  margin-left: auto;
}
.login-box h3 {
  font-size: 22px;
  line-height: 31px;
  color: #242424;
  font-family: "Clash Display";
  margin-bottom: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
.lost-password-box {
  max-width: 450px;
  margin-right: auto;
  margin-left: auto;
}
.lost-password-box p {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.105);
}
